.leadText {
  font-size: 1.2rem;
  color: var(--pry-color2);
  font-weight: 500;
}
.chooseHead {
  color: var(--pry-text);
}
.span-txt {
  color: var(--success-color);
}
.CardTitle-Green {
  font-weight: 600;
  line-height: 24px;
  color: var(--brand-color);
  text-align: left;
  text-transform: capitalize;
}
.CardTitle-White {
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: left;
  text-transform: capitalize;
}
.CardText-pry {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: var(--sec-text);
}
.CardText-tet {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: var(--tertiary-text);
}
.card{
    border: none;
}
.whiteCard{
    background-color: #fff;
}
.greenCard{
    background-color: var( --brand-color);
}
.chooseSection{
    background-color: #f6f6f6;
;
}
