.leadText {
  font-size: 1.2rem;
  color: var(--pry-color2);
  font-weight: 500;
}
.chooseHead {
  color: var(--pry-text);
}
.span-txt {
  color: var(--success-color);
}
.CardTitle {
  font-weight: 600;
  line-height: 24px;
  color: var(--pry-text);
  text-align: left;
  text-transform: capitalize;
}
.card {
  border: none;
}
.TestimonialSection {
  background-color: #f6f6f6;
}
.whiteCard {
  background-color: #fff;
}
.CardText {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  color: var(--sec-text);

}
.CardText2{
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  line-height: 10px;
  color: var(--sec-text);
  
}
.social {
    line-height: 0;
    color: #FFCE31;
  text-align: left;
}
