:root {
  --pry-color: #364f32;
  --sec-color: #ee964b;
  --accent-color: #c1edcc;
  --brand-color: #0b4b35;
  --error-color: #df2638;
  --caution-color: #ee6820;
  --success-color: #0cd469;
  --inverse-color: #ffffff;
  
  /* Text and Icon Colors */
  
  --pry-text: #100007;
  --sec-text: #757575;
  --tertiary-text: #bdbdbd;
  --pry2-text: #fcfcfc;
  --pryI-text: #cccccc;
  --sec2-text: #f2f2f2;
  --brand-text: #0d3d2c;
  
  /* Hover Colors */
  --pry-hover: #093828;
  --sec-hover: #bbbbbb;
}
